.header {
    position: fixed;
    inset: 0 0 auto 0;

    z-index: var(--z-header);

    padding: var(--space-5) 0;

    transition: var(--transition-default);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: inline-flex;
    align-items: center;
}

.header__logo img{
    display:block;
    height: 3.5rem;
    width:auto;
}

.header__nav {
    display: flex;
    gap: var(--space-6);
}

.header__nav a {
    text-decoration: none;
    color: var(--color-text-primary);
    transition: var(--transition-fast);
}

.header__nav a:hover {
    color: var(--color-accent);
}